@font-face {
    font-family: bebas;
    src: url(font/BebasNeue-Regular.ttf);
}

body {
    font-family: 'bebas';
}

.top-head {
    width: 100%;
    height: 210px;

    >.row {
        width: 100%;
        height: 100%;

        >div {
            width: 100%;

            &:nth-of-type(1) {
                height: 50px;
                background-color: #1e1f29;
                display: flex;

                >nav {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:nth-of-type(1) {
                        width: 50%;
                        display: flex;
                        justify-content: flex-start;

                        >ul {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 9%;

                            >li {
                                padding: 8px;

                                >i {
                                    color: #d10024;
                                    font-size: 15px;
                                    padding: 4px;
                                }

                                >span {
                                    color: white;
                                    font-size: 17px;
                                    transition: 0.5s;

                                    &:hover {
                                        color: #d10024;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;

                        >ul {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 9%;

                            >li {
                                padding: 15px;

                                >i {
                                    color: #d10024;
                                    font-size: 15px;
                                    padding: 4px;
                                }

                                >span {
                                    font-size: 17px;
                                    color: white;
                                    transition: 0.5s;

                                    &:hover {
                                        color: #d10024;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                height: 90px;
                background-color: #15161d;
                border-bottom: 3px solid #d10024;
                display: flex;

                >figure {
                    height: 100%;
                    width: 25%;
                    padding-left: 5.5%;

                    >img {
                        height: 90%;
                        object-fit: cover;
                    }
                }

                >form {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    >input[type=text] {
                        width: 70%;
                        height: 45px;
                        border-radius: 50px;

                        &::placeholder {
                            font-size: 17px;
                            padding-left: 5px;
                        }
                    }

                    >input[type=submit] {
                        display: none;
                    }

                    >label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70px;
                        height: 45px;
                        position: absolute;
                        top: 21px;
                        right: 100px;
                        font-size: 19px;
                        background-color: #d10024;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        padding: 3px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                }

                >nav {
                    width: 25%;
                    height: 100%;
                    padding-right: 4%;

                    >ul {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        >li {
                            display: flex;
                            flex-direction: column;
                            padding: 15px;
                            gap: 5px;

                            >i {
                                color: white;
                                font-size: 20px;
                                text-align: center;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            >span {
                                color: white;
                                font-size: 18px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }


                    }
                }
            }

            &:nth-of-type(3) {
                height: 70px;
                background-color: white;
                border-bottom: 2px solid rgb(186, 182, 182);

                >nav {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 0 2.5%;

                    >ul {
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        >li {
                            height: 100%;
                            width: 15%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            >a {
                                text-transform: capitalize;
                                font-size: 25px;
                                color: #15161d;
                                transition: 0.5s;

                                &:hover {
                                    text-decoration: underline;
                                    color: #d10024;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* //////end head///// */
.card {
    width: 100%;
    height: 50vh;

    >.row {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 5%;

        >figure {
            margin: 0 20px;
            background-color: #e4e7ed;
            position: relative;
            transition: all 1s;
            >figcaption{
                color: white;
                position: absolute;
                top: 0;left: 3px;
                font-size: 70px;
                opacity: 0;
            }
            >i{
                color: white;
                font-size: 18px;
                margin-bottom: 30px;
                position: absolute;
                left: 3px;bottom: 0;
                opacity: 0;
                transition: a11 1s;
                
            }
            >span{
                color: white;
                font-size: 18px;
                margin-bottom: 30px;
                position: absolute;
                left: 33px;bottom: 0;
                opacity: 0;
                transition: all 1s;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                transition: all 1s;
            }
            &::before{
                display: flex;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #d10023db;
                opacity: 0;
                position: absolute;
                clip-path: polygon(0 0, 90% 0, 50% 100%, 0% 100%);
            }
            

            &:nth-of-type(1) {
                width: 30%;
                >img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            &:nth-of-type(2) {
                width: 30%;

                >img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            &:nth-of-type(3) {
                width: 30%;

                >img {
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
            &:hover{
                &::before{
                    opacity: 1;
                }
                >figcaption{
                    opacity: 1;
                }
                >i{
                    opacity: 1;
                    cursor: pointer;
                }
                >span{
                    opacity: 1;
                    cursor: pointer;
                }

            
            }
        }
    }
}
/* ////end card//// */
.chart{
    width: 100%;
    height: 100vh;
    >.row{
        width: 100%;
        display: flex;
        >div{
            width: 100%;
            padding:0 7%;
            &:nth-of-type(1){
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                >h2{
                    font-size: 44px;
                    width: 30%;
                }
                >nav{
                    display: flex;
                    height: 100%;
                    justify-content: flex-end;
                    width: 70%;
                    >ul{
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        >li{
                            display: flex;
                            padding: 3%;
                            margin: 0 10px;
                            >a{
                                display: flex;
                                padding: 3%;
                                font-size: 20px;
                                color: #9199ae;
                                transition: all 0.5s ease;
                                text-decoration: solid;
                                &:hover{
                                    color: #d10024;
                                    text-decoration: solid;
                                }
                            }
                        }
                    }
                }
                
            }
            &:nth-of-type(2){
                height: 80%;
                width: 100%;
                display: flex;
                gap: 5%;
                margin-top: 30px;
                >div{
                    height: 100%;
                    border: 2px solid #9199ae;
                    text-align: center;
                    transition: 0.5s;
                    &:hover{
                        border: 2px solid #d10024;
                    }
                    &:nth-of-type(1){
                        width: 22%;
                        height: 100%;
                        transition: 1s;
                        &:hover{
                            >a{
                                opacity: 1;
                            }
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        >h4{
                           color: #9199ae;
                           font-size: 20px;
                        }
                        >h3{
                           color: #15161d;
                           font-size: 26px;
                           margin: 10px;

                        }
                        >span{
                           color: #d10024;
                           font-size: 24px;
                           padding: 3%;
                        }
                        >del{
                           color: #9199ae;
                           font-size: 18px;
                        }
                        >div{
                            width: 100%;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            >i{
                                color: #15161d;
                                font-size: 20px;
                                margin: 10% 6%;
                                padding: 2%;
                                transition: 0.5s;
                                border-radius: 50%;
                                &:hover{
                                    background-color: #c5cad8;
                                    border-radius: 50%;
                                    color:#d10024;
                                }
                            }
                        }
                        >a{
                            text-align: center;
                            color: white;
                            background-color: #d10024;
                            font-size: 35px;
                            padding: 4%;
                            border-radius: 20%;
                            opacity: 0;
                            transition: 0.5s;
                        }
                       
                    }
                    &:nth-of-type(2){
                        width: 22%;
                        height: 100%;
                        &:hover{
                            >a{
                                opacity: 1;
                            }
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        >h4{
                            color: #9199ae;
                            font-size: 20px;
                         }
                         >h3{
                            color: #15161d;
                            font-size: 26px;
                            margin: 10px;
                         }
                         >span{
                            color: #d10024;
                            font-size: 24px;
                            padding: 3%;
                         }
                         >del{
                            color: #9199ae;
                            font-size: 18px;
                         }
                         >div{
                            width: 100%;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            >i{
                                color: #15161d;
                                font-size: 20px;
                                margin: 10% 6%;
                                padding: 2%;
                                transition: 0.5s;
                                border-radius: 50%;
                                &:hover{
                                    background-color: #c5cad8;
                                    border-radius: 50%;
                                    color:#d10024;
                                }
                            }
                        }
                        >a{
                            text-align: center;
                            color: white;
                            background-color: #d10024;
                            font-size: 35px;
                            padding: 4%;
                            border-radius: 20%;
                            opacity: 0;
                            transition: 0.5s;
                        }
                        
                    }
                    &:nth-of-type(3){
                        width: 22%;
                        height: 100%;
                        &:hover{
                            >a{
                                opacity: 1;
                            }
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        >h4{
                            color: #9199ae;
                            font-size: 20px;
                         }
                         >h3{
                            color: #15161d;
                            font-size: 26px;
                            margin: 10px;
                         }
                         >span{
                            color: #d10024;
                            font-size: 24px;
                            padding: 3%;
                         }
                         >del{
                            color: #9199ae;
                            font-size: 18px;
                         }
                         >div{
                            width: 100%;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            >i{
                                color: #15161d;
                                font-size: 20px;
                                margin: 10% 6%;
                                padding: 2%;
                                transition: 0.5s;
                                border-radius: 50%;
                                &:hover{
                                    background-color: #c5cad8;
                                    border-radius: 50%;
                                    color:#d10024;
                                }
                            }
                        }
                        >a{
                            text-align: center;
                            color: white;
                            background-color: #d10024;
                            font-size: 35px;
                            padding: 4%;
                            border-radius: 20%;
                            opacity: 0;
                            transition: 0.5s;
                        }
                        
                    }
                    &:nth-of-type(4){
                        width: 22%;
                        height: 100%;
                        &:hover{
                            >a{
                                opacity: 1;
                            }
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                        }
                        >h4{
                            color: #9199ae;
                            font-size: 20px;
                         }
                         >h3{
                            color: #15161d;
                            font-size: 26px;
                            margin: 10px;
                         }
                         >span{
                            color: #d10024;
                            font-size: 24px;
                            padding: 3%;
                         }
                         >del{
                            color: #9199ae;
                            font-size: 18px;
                         }
                         >div{
                            width: 100%;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            >i{
                                color: #15161d;
                                font-size: 20px;
                                margin: 10% 6%;
                                padding: 2%;
                                transition: 0.5s;
                                border-radius: 50%;
                                &:hover{
                                    background-color: #c5cad8;
                                    border-radius: 50%;
                                    color:#d10024;
                                }
                            }
                        }
                        >a{
                            text-align: center;
                            color: white;
                            background-color: #d10024;
                            font-size: 35px;
                            padding: 4%;
                            border-radius: 20%;
                            opacity: 0;
                            transition: 0.5s;
                        }
                        
                    }

                }
            }
        }
    }
}


/* /////end chart///// */
.bg{
    width: 100%;
    height: 60vh;
    >figure{
        width: 100%;
        height: 100%;
        position: relative;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        >figcaption{
            width: 40%;
            height: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 33%;
            >div{
                width: 100%;
                margin: 7% 0;
                >strong{
                    font-size: 25px;
                    height: 100px;
                    width: 100px;
                    color: white;
                    padding: 20px;
                    margin: 6% 3%;
                    border-radius: 20px;
                    background-color: #d10024;
                }
            }
            >h3{
               font-size: 45px;
               margin: 12% 0 5% 0;
            }
            >h4{
            font-size: 40px;
            margin-bottom: 8%;
            color: #414145;
            }
            >a{
               font-size: 35px;
               color: white;
               background-color: #d10024;
               border-radius: 20px;
               padding:2% 4%;
               margin-top: 3%;
            }
        }
    }
}

/* ///end bg/// */
.slide{
    width: 100%;
    height: 80vh;
    margin-top: 3%;
    border-bottom: 2px solid #c5cad8;
    >.row{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:2% 6%;
        >div{
            height: 100%;
            width: 30%;
            >h4{
                font-size: 35px;
                color: #15161d;
                margin: 20px 0;
                padding-left: 10px;
            }
            &:nth-of-type(1){

                  >div{
                    width: 100%;
                    height: 28%;
                    gap: 3px;
                    display: flex;
                    /* justify-content: center; */
                    align-items: center;
                    gap: 15%;
                    >img{
                         width: 40%;
                         height: 100%;
                         object-fit: cover;
                         overflow: hidden;
                         transition: 1s;
                         &:hover{
                            cursor: pointer;
                            width: 40%;
                            height: 125%;
                         }
                    }
                    >div{
                        >h5{
                            color: #9199ae;
                            font-size: 20px;
                        }
                        >p{
                            font-size: 20px;
                            color: #1e1f29;
                        }
                        >span{
                            font-size: 21px;
                            color: #d10024;
                            padding: 3%;
                        }
                        >del{
                            color: #9199ae;
                            font-size: 17px;
                        }
                    }
                  }
            }
            &:nth-of-type(2){

                  >div{
                    width: 100%;
                    height: 28%;
                    gap: 3px;
                    display: flex;
                    /* justify-content: center; */
                    align-items: center;
                    border-left: 2px solid #c5cad8;
                    gap: 15%;
                    >img{
                         width: 40%;
                         height: 100%;
                         object-fit: cover;
                         overflow: hidden;
                         transition: 1s;
                         &:hover{
                            cursor: pointer;
                            width: 40%;
                            height: 125%;
                         }
                    }
                    >div{
                        >h5{
                            color: #9199ae;
                            font-size: 20px;
                        }
                        >p{
                            font-size: 20px;
                            color: #1e1f29;
                        }
                        >span{
                            font-size: 21px;
                            color: #d10024;
                            padding: 3%;
                        }
                        >del{
                            color: #9199ae;
                            font-size: 17px;
                        }
                    }
                  }
            }
            &:nth-of-type(3){

                  >div{
                    width: 100%;
                    height: 28%;
                    gap: 3px;
                    display: flex;
                    /* justify-content: center; */
                    align-items: center;
                    gap: 15%;
                    border-left: 2px solid #c5cad8;
                    >img{
                         width: 40%;
                         height: 100%;
                         object-fit: cover;
                         overflow: hidden;
                         transition: 1s;
                         &:hover{
                            cursor: pointer;
                            width: 40%;
                            height: 125%;
                         }
                    }
                    >div{
                        >h5{
                            color: #9199ae;
                            font-size: 20px;
                        }
                        >p{
                            font-size: 20px;
                            color: #1e1f29;
                        }
                        >span{
                            font-size: 21px;
                            color: #d10024;
                            padding: 3%;
                        }
                        >del{
                            color: #9199ae;
                            font-size: 17px;
                        }
                    }
                  }
            }
        }
    }
}
/* ////end slid///// */
.newsletter{
    width: 100%;
    height: 40vh;
    padding: 2% 6%;
    background-color: #c5cad8;
    >.row{
        width: 100%;
        height: 100%;
        >.note{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            >h3{
                font-size: 45px;
                color: #15161d;
            }
        }
        >.subs{
           width: 100%;
           height: 40%;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: -40px;
           >form {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            >input[type=text] {
                width: 85%;
                height: 45px;
                border-radius: 50px;

                &::placeholder {
                    font-size: 17px;
                    padding-left: 5px;
                }
            }

            >input[type=submit] {
                display: none;
            }

            >label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 45px;
                position: absolute;
                top: 25px;
                right: 49px;
                font-size: 19px;
                background-color: #d10024;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                padding: 3px;

                &:hover {
                    cursor: pointer;
                }
            }

        }

        }
        >.icons{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3%;
            >i{
               font-size: 22px;
               color: #15161d;
               padding: 10px;
               transition: 0.5s;
               border-radius: 50%;
               &:hover{
                background-color: #58585e;
                color: #d10024;
               }
            }
        }
    }

}
/* /////end///// */
.para{
    width: 100%;
    height: 45vh;
    >.row{
        width: 100%;
        height: 100%;
        background-color: #15161d;
        display: flex;
        justify-content: space-between;
        border-top: 3px solid #d10024;
        padding:0 6%;
        >div{
            height: 100%;
            width: 23%;
            margin-top: 2%;
            &:nth-of-type(1){
                >h3{
                    color: white;
                    font-size: 50px;
                }
                >p{
                  color: white;
                  font-size: 20px;
                  margin: 6px 0;
                }
                >i{
                    font-size: 20px;
                    color: #d10024;
                    margin-right: 6px;
                    display: block;
                }
                >span{
                    font-size: 20px;
                    color: white;
                    transition: 0.5s;
                    &:hover{
                        color: #d10024;
                    }
                }
            }
            &:nth-of-type(2){
                >h3{
                    color: white;
                    font-size: 50px;
                }
                >ul{
                    margin: 8px 0;
                    >li{
                        font-size: 25px;
                        color: white;
                        padding: 5px 0;
                        transition: 0.5s;
                        &:hover{
                            color: #d10024;
                            cursor: pointer;
                        }
                    }
                }
            }
            &:nth-of-type(3){
                >h3{
                    color: white;
                    font-size: 50px;
                }
                >ul{
                    margin: 8px 0;
                    >li{
                        font-size: 25px;
                        color: white;
                        padding: 5px 0;
                        transition: 0.5s;
                        &:hover{
                            color: #d10024;
                            cursor: pointer;
                        }
                    }
                }
            }
            &:nth-of-type(4){
                >h3{
                    color: white;
                    font-size: 50px;
                }
                >ul{
                    margin: 8px 0;
                    >li{
                        font-size: 25px;
                        color: white;
                        padding: 5px 0;
                        transition: 0.5s;
                        &:hover{
                            color: #d10024;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
/* //////end end end////// */
.footer {
    width: 100%;
    height: 350px;
    background-color: #1e1f29;

    >.row {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;

        >img {
            position: absolute;
            top: 80px;
            right: 10px;
            width: 320;
            height: 220px;
            
        }

        >div {
            height: 100%;
            width: 70%;

            &:nth-of-type(1) {
                width: 35%;
                padding: 2%;

                >.profile {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >img {
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }

                >.socialmedia{
                    height: 30%;
                    position: relative;  
                    >ul{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        >li{
                            color: black;
                            font-size: 20px;
                            text-align: center;
                            >span{
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  padding: 5px 30px;

                                >i{
                                  display: flex;
                                  font-size: 32px;
                                  padding:20px 20px;
                                  color: #e4e7ed;
                                  transition: 0.5s;
                                  &:hover{
                                    color: #d10024;
                                    font-size: 37px;
                                    cursor: pointer;
                                    transform: translateY(-10px);
                                  }

                                }
                                
                            }
                            >p{
                                font-size: 14px;
                                color: #c5cad8;
                                margin-top: -15px;
                            }
                        }
                    }
                }

            }

            
            &:nth-of-type(2) {
                width: 35%;
                text-align: center;
                padding: 3%;

                >img {
                    height: 17%;
                }

                >p {
                    text-transform: capitalize;
                    color: #9199ae;
                    margin: 30px 0 60px 0;
                }

                >.middle {
                    width: 100%;
                    
                    >a {
                        font-size: 17px;
                        padding: 8px;
                        color: white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        background-color: #c5cad8;
                        justify-content: center;
                        align-items: center;
                        margin: 15px;
                        gap: 8px;
                        transition: 0.5s;

                        &:hover {
                            background-color: #d10024;
                        }
                    }
                }
            }

        }
    }


}